<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.php">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="listarFaturas.php">Lançar Faturas</a></li>
            <li class="breadcrumb-item">Cadastrar</li>
        </ol>

        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Nova Fatura</h1>
                <form>
                    <!--Codigo da fatura-->
                    <div class="form-row">
                        <!--Codigo da fatura-->
                        <div class="form-group col-2">
                            <label for="campoCodFatura">Código da fatura</label>
                            <input type="text" class="form-control" id="campoCodFatura" value="1" disabled>
                        </div>
                    </div>

                    <!--Nome, Marca e Descrição do produto-->
                    <div class="form-row">
                        <!--Empresa Devedora-->
                        <div class="form-group col-4 ">
                            <label for="campoEmpresaDevedora">Empresa Devedora</label>
                            <input type="text" class="form-control" id="campoEmpresaDevedora" placeholder="Empresa Devedora">
                        </div>

                        <!--Data de vencimento-->
                        <div class="form-group col-2">
                            <label for="campoDtaVenc">Data Vencimento</label>
                            <input type="text" class="form-control" id="campoDtaVenc" placeholder="dd/mm/aaaa">
                        </div>

                        <!--Dias para alertas-->
                        <div class="form-group col-2 ">
                            <label for="campoDtaVenc">Dias p/ alerta</label>
                            <input type="text" class="form-control" id="campoDtaVenc" placeholder="Dias p/ alerta">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <!--Descrição da fatura-->
                        <div class="form-group col-6">
                            <label for="campoDescFatura">Descrição da fatura</label>
                            <textarea name="" id="campoDescFatura" cols="" rows="5" class="form-control" style="resize: none" placeholder="Descrição da fatura"></textarea>
                        </div>
                    </div>

                    <!--Valor Fatura-->
                    <div class="form-row">
                        <!--Valor da Fatura-->
                        <div class="form-group col-3">
                            <label for="campoValorFatura">Valor da Fatura</label>
                            <input type="text" class="form-control" id="campoValorFatura" placeholder="Valor da Fatura">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-5">
                            <a routerLink="/listarFatura"><input type="button" class="btn btn-secondary" value="Cancelar"></a>
                            <a routerLink="/listarFatura"><input type="button" class="btn btn-success" value="Salvar" onclick="alert('Fatura cadastrada com sucesso!')"></a>
                        </div>
                    </div>
                    
                </form>


            </div>
        </div>
    </div>