<body>
 

    <header>
       
      <button>
        <img 
         src="assets/dialog/close.svg"
         alt="Imagem para fechar caixa de dialogo"
         (click)="closeDialog()"
         height=" 45px;"
         width=" 45px"
          >
      </button>
      </header>
      
      <section>
        <mat-dialog-content>
          <h3>DESCRIÇÃO</h3>
        </mat-dialog-content>
      </section>
    
      <mat-dialog-content>
      <nav>
        <ul>
            <li><h1>NOME: </h1><p>{{getData()?.nome}}</p></li>
            <li><h1>CPF: </h1><p>{{getData()?.cpf}}</p></li>
            
            <li><h1>CONTATO: </h1><p>{{getData()?.telefone}}</p></li>
            <li><h1>EMAIL: </h1><p>{{getData()?.email}}</p></li>
            <li><h1>BAIRRO: </h1><p>{{getData()?.bairro}}</p></li>
            <li><h1>CIDADE: </h1><p>{{getData()?.cidade}}</p></li>
            <li><h1>ESTADO: </h1><p>{{getData()?.estado}}</p></li>
            <li><h1>N°: </h1><p>{{getData()?.numero}}</p></li>
            <li><h1>COMPLEMENTO: </h1><p>{{getData()?.complemento}}</p></li>
            
        </ul>
      </nav>
    </mat-dialog-content>
    </body>
    
     
    