:host{
   
    header{
          display: flex;
          justify-content:  end;
          padding: 30px;
   
  
         button{
          border: none;
          border-radius: 7px;
         
              &:hover{
              background: #3b4960a2;
              transition: 0.9s;
              }
           }
          }
  
          section{
              
               h3{ 
                  justify-content: center;
                  display: flex;
                  align-items: center;
              
                  }
             
          }
  
  
  
           
      nav{
                  
          ul{
                
              li{
                  align-items: flex-start;
                  display: flex;
                  flex-direction: row;
                  list-style: none;
                  margin-bottom: 0;
                  padding: 0;
                  list-style: none;
                  gap: 5px;
  
                  h1{
                      font-size: 18px;;
                  }
              }
          }
      }
  }
  
   
  